# Import demand data

In [39]:
import pandas as pd
from fastparquet import ParquetFile

demand_path = r'/home/xychen/gojeck_data_proc/data/201911_demand.parquet'

pf_demand = ParquetFile(demand_path)
df_demand = pf_demand.to_pandas()

In [40]:
df_demand.head(10)

,order_no,booking_time,pickup_time,drop_off_time,driver_id,booking_pickup_latitude,booking_pickup_longitude,booking_destination_latitude,booking_destination_longitude,status,fare,surge_multiplier,customer_id,discount_amt,pickup_s2id_15,dropoff_s2id_15,pickup_s2id_14,dropoff_s2id_14,pickup_s2id_13,dropoff_s2id_13
0,RB-2954005861,2019-11-01 00:00:01,NaT,2019-11-01 00:00:50,NaN,1.332389,103.743362,1.379381,103.742355,2,870,1.0,603838170,0.0,3592201310465687552,3592203183071428608,3592201309391945728,3592203181997686784,3592201296507043840,3592203186292654080
1,RB-2954005860,2019-11-01 00:00:01,NaT,2019-11-01 00:01:00,700313841.0,1.324518,103.928782,1.341851,103.952020,3,650,1.1,612342168,0.0,3592221803902140416,3592250874388283392,3592221804975882240,3592250873314541568,3592221809270849536,3592250877609508864
2,RB-2954005878,2019-11-01 00:00:02,2019-11-01 00:08:00,2019-11-01 00:18:35,700313841.0,1.265209,103.822707,1.284875,103.826437,1,960,2.0,625253206,0.9,3592211521750433792,3592211684959191040,3592211522824175616,3592211686032932864,3592211535709077504,3592211673148030976
3,RB-2954005889,2019-11-01 00:00:03,2019-11-01 00:03:07,2019-11-01 00:18:03,700390673.0,1.359396,103.941011,1.315549,103.887037,1,1120,1.0,618692144,0.0,3592250773456551936,3592210301979721728,3592250770235326464,3592210303053463552,3592250774530293760,3592210298758496256
4,RB-2954005892,2019-11-01 00:00:03,2019-11-01 00:07:11,2019-11-01 00:29:13,700370834.0,1.278385,103.847459,1.381690,103.940624,1,3110,2.0,619880989,3.0,3592211221102723072,3592251544403181568,3592211222176464896,3592251543329439744,3592211226471432192,3592251530444537856
5,RB-2954005949,2019-11-01 00:00:06,2019-11-01 00:08:19,2019-11-01 00:17:59,700411685.0,1.319020,103.880650,1.279052,103.843761,1,1240,1.6,655428762,5.0,3592210201047990272,3592211609797263360,3592210199974248448,3592211608723521536,3592210195679281152,3592211604428554240
6,RB-2954005973,2019-11-01 00:00:07,NaT,2019-11-01 00:01:40,700316251.0,1.394329,103.876634,1.328177,103.874918,3,1320,1.1,617849214,1.3,3592208373539405824,3592209522443157504,3592208370318180352,3592209521369415680,3592208374613147648,3592209508484513792
7,RB-2954005974,2019-11-01 00:00:07,2019-11-01 00:12:34,2019-11-01 00:34:01,700357786.0,1.294880,103.859410,1.357435,103.889522,1,1470,1.2,617239007,0.0,3592211891117621248,3592209724306620416,3592211892191363072,3592209727527845888,3592211879306461184,3592209714642944000
8,RB-2954005977,2019-11-01 00:00:08,2019-11-01 00:02:12,2019-11-01 00:16:36,700214238.0,1.380676,103.773860,1.379740,103.764399,1,600,1.2,617353133,0.6,3592203034895056896,3592203045632475136,3592203035968798720,3592203044558733312,3592203048853700608,3592203048853700608
9,RB-2954006006,2019-11-01 00:00:09,NaT,2019-11-01 00:01:51,NaN,1.304582,103.917340,1.333063,103.742362,2,2370,1.0,612390013,2.3,3592221718002794496,3592201310465687552,3592221719076536320,3592201309391945728,3592221706191634432,3592201296507043840

# Data checking

## Check piclup and dropoff time of cases where status == 2 or 3

Check the 'pickup_time' and 'dropoff_time' info for status == 2

In [41]:
# check records where status == 2
df_s2 = df_demand.query('status==2')
df_s2

,order_no,booking_time,pickup_time,drop_off_time,driver_id,booking_pickup_latitude,booking_pickup_longitude,booking_destination_latitude,booking_destination_longitude,status,fare,surge_multiplier,customer_id,discount_amt,pickup_s2id_15,dropoff_s2id_15,pickup_s2id_14,dropoff_s2id_14,pickup_s2id_13,dropoff_s2id_13
0,RB-2954005861,2019-11-01 00:00:01,NaT,2019-11-01 00:00:50,NaN,1.332389,103.743362,1.379381,103.742355,2,870,1.0,603838170,0.0,3592201310465687552,3592203183071428608,3592201309391945728,3592203181997686784,3592201296507043840,3592203186292654080
9,RB-2954006006,2019-11-01 00:00:09,NaT,2019-11-01 00:01:51,NaN,1.304582,103.917340,1.333063,103.742362,2,2370,1.0,612390013,2.3,3592221718002794496,3592201310465687552,3592221719076536320,3592201309391945728,3592221706191634432,3592201296507043840
12,RB-2954006084,2019-11-01 00:00:13,NaT,2019-11-01 00:00:18,NaN,1.322347,103.913787,1.407062,103.900589,2,1310,1.0,612090764,1.3,3592210044281683968,3592207724999344128,3592210045355425792,3592207726073085952,3592210058240327680,3592207721778118656
14,RB-2954006117,2019-11-01 00:00:15,NaT,2019-11-01 00:00:20,NaN,1.278124,103.848875,1.282233,103.784560,2,1810,2.0,611641308,1.8,3592211218955239424,3592214094435844096,3592211222176464896,3592214091214618624,3592211226471432192,3592214078329716736
16,RB-2954006189,2019-11-01 00:00:19,NaT,2019-11-01 00:00:56,NaN,1.282680,103.860308,1.297862,103.835309,2,1010,1.1,638594476,0.0,3592211158825697280,3592211805218275328,3592211162046922752,3592211806292017152,3592211157751955456,3592211810586984448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4833462,RB-3070486134,2019-11-30 23:59:56,NaT,2019-11-30 23:59:59,NaN,1.283397,103.860753,1.288341,103.826333,2,1890,2.0,613938167,0.0,3592211158825697280,3592211687106674688,3592211162046922752,3592211686032932864,3592211157751955456,3592211673148030976
4833463,RB-3070486142,2019-11-30 23:59:56,NaT,2019-12-01 00:02:03,NaN,1.320067,103.975818,1.330943,103.938101,2,1000,1.0,649640126,0.0,3592222347215503360,3592250955992662016,3592222346141761536,3592250959213887488,3592222359026663424,3592250946328985600
4833467,RB-3070486161,2019-11-30 23:59:57,NaT,2019-12-01 00:00:51,NaN,1.308387,103.852040,1.311619,103.861425,2,960,1.7,538589725,0.0,3592211996344320000,3592212004934254592,3592211995270578176,3592212003860512768,3592211982385676288,3592212016745414656
4833474,RB-3070486200,2019-11-30 23:59:58,NaT,2019-12-01 00:02:09,NaN,1.321031,103.804529,1.279484,103.791876,2,990,1.0,619559986,0.0,3592212303434481664,3592214139533000704,3592212304508223488,3592214142754226176,3592212291623321600,3592214147049193472
4833475,RB-3070486216,2019-11-30 23:59:59,NaT,2019-12-01 00:01:18,NaN,1.323330,103.861741,1.311910,103.853100,2,1200,1.6,650641404,0.0,3592212062916313088,3592211994196836352,3592212063990054912,3592211995270578176,3592212051105153024,3592211982385676288

In [42]:
# check records where status == 3
df_s3 = df_demand.query('status==3')
df_s3

,order_no,booking_time,pickup_time,drop_off_time,driver_id,booking_pickup_latitude,booking_pickup_longitude,booking_destination_latitude,booking_destination_longitude,status,fare,surge_multiplier,customer_id,discount_amt,pickup_s2id_15,dropoff_s2id_15,pickup_s2id_14,dropoff_s2id_14,pickup_s2id_13,dropoff_s2id_13
1,RB-2954005860,2019-11-01 00:00:01,NaT,2019-11-01 00:01:00,700313841.0,1.324518,103.928782,1.341851,103.952020,3,650,1.1,612342168,0.0,3592221803902140416,3592250874388283392,3592221804975882240,3592250873314541568,3592221809270849536,3592250877609508864
6,RB-2954005973,2019-11-01 00:00:07,NaT,2019-11-01 00:01:40,700316251.0,1.394329,103.876634,1.328177,103.874918,3,1320,1.1,617849214,1.3,3592208373539405824,3592209522443157504,3592208370318180352,3592209521369415680,3592208374613147648,3592209508484513792
11,RB-2954006090,2019-11-01 00:00:13,NaT,2019-11-01 00:01:50,700135347.0,1.298512,103.774827,1.401078,103.751453,3,2030,1.3,612128325,0.0,3592213306309345280,3592203397819793408,3592213309530570752,3592203396746051584,3592213322415472640,3592203392451084288
19,RB-2954006244,2019-11-01 00:00:22,NaT,2019-11-01 04:07:14,700277913.0,1.311771,103.921674,1.288612,103.832668,3,1700,1.0,617395818,0.0,3592221739477630976,3592211657041903616,3592221736256405504,3592211660263129088,3592221740551372800,3592211673148030976
27,RB-2954006328,2019-11-01 00:00:26,NaT,2019-11-01 00:00:59,700350780.0,1.320103,103.938186,1.308377,103.904260,3,920,1.0,612544912,0.0,3592221902686388224,3592210097968775168,3592221899465162752,3592210096895033344,3592221912350064640,3592210092600066048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4833432,RB-3070485917,2019-11-30 23:59:48,NaT,2019-12-01 00:04:00,700367568.0,1.293080,103.857750,1.390227,103.850904,3,2380,1.9,619369193,0.0,3592211865347817472,3592208463733719040,3592211866421559296,3592208464807460864,3592211879306461184,3592208477692362752
4833433,RB-3070485919,2019-11-30 23:59:48,NaT,2019-12-01 00:02:04,700305464.0,1.296892,103.867122,1.308493,103.862940,3,1670,1.9,614366142,0.0,3592211884675170304,3592212009229221888,3592211883601428480,3592212012450447360,3592211879306461184,3592212016745414656
4833446,RB-3070485994,2019-11-30 23:59:51,NaT,2019-12-01 00:28:25,700137068.0,1.283917,103.847112,1.318296,103.879550,3,2380,2.5,650466257,0.0,3592211195332919296,3592210246145146880,3592211196406661120,3592210242923921408,3592211192111693824,3592210230039019520
4833447,RB-3070485993,2019-11-30 23:59:51,NaT,2019-12-01 00:00:15,700326559.0,1.374759,103.880055,1.395059,103.907364,3,1760,1.9,619796975,0.0,3592208139463688192,3592207860290813952,3592208138389946368,3592207863512039424,3592208134094979072,3592207859217072128
4833466,RB-3070486174,2019-11-30 23:59:57,NaT,2019-12-01 00:04:25,700631951.0,1.397811,103.873328,1.389972,103.909113,3,860,1.0,629887735,0.0,3592208386424307712,3592207965517512704,3592208387498049536,3592207966591254528,3592208374613147648,3592207962296287232

In [43]:
# check nan in pickup_time and drop_off_time of cases where status == 2
s2_nan = df_s2[['pickup_time','drop_off_time']].isna().sum()
print(f'There are {s2_nan[0]} nan vlaues for pickup_time out of {len(df_s2)} records with "status == 2".')
print(f'There are {s2_nan[1]} nan vlaues for drop_off_time out of {len(df_s2)} records with "status == 2".')

There are 698261 nan vlaues for pickup_time out of 698261 records with "status == 2".
There are 0 nan vlaues for drop_off_time out of 698261 records with "status == 2".

In [44]:
# check nan in pickup_time and drop_off_time of cases where status == 3
s3_nan = df_s3[['pickup_time','drop_off_time']].isna().sum()
print(f'There are {s3_nan[0]} nan vlaues for pickup_time out of {len(df_s3)} records with "status == 3".')
print(f'There are {s3_nan[1]} nan vlaues for drop_off_time out of {len(df_s3)} records with "status == 3".')

There are 862525 nan vlaues for pickup_time out of 863314 records with "status == 3".
There are 0 nan vlaues for drop_off_time out of 863314 records with "status == 3".

Summary:  

1. Status == 2:
    - Means the trip is 'cancelled before a driver is found'. 
    - All cases where status == 2 has no pickup_time info but complete drop_off_time info.  
    - drop_off_time here should indicate the 'cancelled' time

2. Status == 3:
    - Means the trip is 'cancelled after a driver is found'.
    - For cases with 'pickup_time', 'dropoff_time' indicates the time when the passenger get off the car; while for cases without 'pickup_time, 'dropodd_time' means the 'cancelled' time

In [45]:
# Some pickup_time and drooff_time examples where status == 3
df_s3_put = df_s3[df_s3['pickup_time'].notna()]
df_s3_put

,order_no,booking_time,pickup_time,drop_off_time,driver_id,booking_pickup_latitude,booking_pickup_longitude,booking_destination_latitude,booking_destination_longitude,status,fare,surge_multiplier,customer_id,discount_amt,pickup_s2id_15,dropoff_s2id_15,pickup_s2id_14,dropoff_s2id_14,pickup_s2id_13,dropoff_s2id_13
1140,RB-2954032504,2019-11-01 00:25:34,2019-11-01 00:33:24,2019-11-01 00:42:05,700273206.0,1.366585,103.926461,1.306219,103.827951,3,1890,1.0,631262321,0.0,3592251396226809856,3592211745088733184,3592251397300551680,3592211746162475008,3592251393005584384,3592211741867507712
4790,RB-2954076957,2019-11-01 01:33:56,2019-11-01 01:48:50,2019-11-01 02:01:14,700473385.0,1.310182,103.854397,1.370024,103.884564,3,1470,1.2,645439505,1.4,3592211992049352704,3592208180265877504,3592211995270578176,3592208181339619328,3592211982385676288,3592208168454717440
23699,RB-2954409150,2019-11-01 07:33:15,2019-11-01 07:38:40,2019-11-01 07:39:31,700196319.0,1.373606,103.741995,1.316366,103.716707,3,1800,1.6,655828834,0.0,3592203236758519808,3592189447766016000,3592203233537294336,3592189446692274176,3592203220652392448,3592189442397306880
36385,RB-2954647168,2019-11-01 08:31:07,2019-11-01 08:32:28,2019-11-01 08:38:21,700473523.0,1.357031,103.844980,1.298960,103.789754,3,1830,1.6,618082623,1.8,3592209047849271296,3592212539657682944,3592209048923013120,3592212536436457472,3592209061807915008,3592212532141490176
45247,RB-2954828303,2019-11-01 09:15:30,2019-11-01 09:23:28,2019-11-01 09:39:50,700128709.0,1.292797,103.844485,1.313471,103.843953,3,830,1.3,604401203,0.0,3592211824545628160,3592212144520691712,3592211823471886336,3592212141299466240,3592211810586984448,3592212154184368128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4800197,RB-3069846984,2019-11-30 20:29:44,2019-11-30 20:39:07,2019-11-30 20:50:22,700493654.0,1.291578,103.859805,1.298807,103.906519,3,1710,1.7,638459564,0.0,3592211867495301120,3592210525318021120,3592211866421559296,3592210526391762944,3592211879306461184,3592210539276664832
4805004,RB-3070015550,2019-11-30 21:11:05,2019-11-30 21:19:09,2019-11-30 21:32:23,700440148.0,1.322235,103.801097,1.321063,103.805189,3,700,1.0,620070018,0.0,3592212288402096128,3592212303434481664,3592212287328354304,3592212304508223488,3592212291623321600,3592212291623321600
4817220,RB-3070291561,2019-11-30 22:37:11,2019-11-30 23:19:32,2019-11-30 23:27:15,700395824.0,1.359573,103.948336,1.333625,103.928990,3,1010,1.1,617760690,0.0,3592250760571650048,3592251063366844416,3592250761645391872,3592251062293102592,3592250774530293760,3592251049408200704
4820143,RB-3070329346,2019-11-30 22:51:35,2019-11-30 23:02:17,2019-11-30 23:09:41,700250592.0,1.284118,103.852406,1.283397,103.860753,3,1360,2.0,611978175,0.0,3592211203922853888,3592211158825697280,3592211204996595712,3592211162046922752,3592211192111693824,3592211157751955456
4825964,RB-3070410549,2019-11-30 23:22:59,2019-11-30 23:32:51,2019-11-30 23:58:20,700445136.0,1.416602,103.846505,1.282725,103.824660,3,1650,1.0,619661197,0.0,3592205910375661568,3592211674221772800,3592205913596887040,3592211677442998272,3592205900711985152,3592211673148030976

## Check if every order has a pickup location and a destination location

In [46]:
nan_pickup_count = df_demand['booking_pickup_latitude'].isna().sum()
print(f'There are {nan_pickup_count} NaN values in the "booking_pickup_latitude" column demand dataset.')

nan_pickup_count = df_demand['booking_pickup_longitude'].isna().sum()
print(f'There are {nan_pickup_count} NaN values in the "booking_pickup_longitude" column demand dataset.')

There are 0 NaN values in the "booking_pickup_latitude" column demand dataset.
There are 0 NaN values in the "booking_pickup_longitude" column demand dataset.

In [47]:
nan_destination_count = df_demand['booking_destination_latitude'].isna().sum()
print(f'There are {nan_destination_count} NaN values in the "booking_destination_latitude" column demand dataset.')

nan_destination_count = df_demand['booking_destination_longitude'].isna().sum()
print(f'There are {nan_destination_count} NaN values in the "booking_destination_longitude" column demand dataset.')

There are 0 NaN values in the "booking_destination_latitude" column demand dataset.
There are 0 NaN values in the "booking_destination_longitude" column demand dataset.

# Aggregate data into 'trip' level

Method:  
1. Group orders by `[customer_id, pickup_s2id_15, dropoff_s2id_15]`.  
2. Set time threshold of two consecutive orders. Two orders have a `booking_time` gap longer than the threshold cannot be aggregated to one trip.
3. But it is hard to set a single time-threshold to cover all possible situations. For some cases, the threshold might be too long that orders actually belong to multiple trips are aggregated into one, while for others, the threshold is too short that orders belong to one trip are assigned to multiple trips.
4. Hence, we need to add another condition: for each trip, there should be no more than one 'completed' status. This is to ensure that orders with very short `booking_time` gap but belongs to different trips would not be wrongly classify into one trip.
5. Both the 'booking_time threshold' and 'count of completed status' conditions are necessary. If we only have the 'count of completed status' condition, there will be orders with large `booking_time` difference being classified into one trip, which is unreasonable.

In [48]:
import pandas as pd

# Sort the DataFrame by 'customer_id' and 'booking_time'
df_demand.sort_values(by=['customer_id', 'booking_time'], inplace=True)

# Initialize trip_id and trip_start_time
trip_id = 1
trip_start_time = None

# Lists to store trip IDs and indices
trip_ids = []
trip_indices = []

# Iterate through the DataFrame to assign trip IDs
for index, row in df_demand.iterrows():
    if trip_start_time is None:
        # First row of a trip
        has_status_1 = (row['status'] == 1)  # Check if the first row has status 1
    elif (
        prev_row is not None and
        row['customer_id'] == prev_row['customer_id'] and
        row['pickup_s2id_15'] == prev_row['pickup_s2id_15'] and
        row['dropoff_s2id_15'] == prev_row['dropoff_s2id_15'] and
        (row['booking_time'] - trip_start_time) <= pd.Timedelta(minutes=5) and
        not has_status_1  # Check if there is no status 1 in previous rows
    ):
        # Continue the trip
        pass
    else:
        # Start a new trip
        trip_id += 1
        has_status_1 = (row['status'] == 1)  # Update has_status_1 for the new trip

    trip_start_time = row['booking_time']
    trip_ids.append(trip_id)
    trip_indices.append(index)
    prev_row = row

# Assign the 'trip_id' values to the DataFrame
df_demand['trip_id'] = trip_ids

# Save the trip-level dataset to a new CSV file
df_demand.to_csv('/home/xychen/gojeck_data_proc/results/trip_data_status.csv', index=False)

In [1]:
import pandas as pd
df_trip_status = pd.read_csv(r'/home/xychen/gojeck_data_proc/results/trip_data_status.csv')
df_trip_status.sort_values(by=['trip_id','booking_time'],ascending=[True,True],inplace=True)
df_trip_status

,order_no,booking_time,pickup_time,drop_off_time,driver_id,booking_pickup_latitude,booking_pickup_longitude,booking_destination_latitude,booking_destination_longitude,status,...,pickup_s2id_13,dropoff_s2id_13,trip_id,n_order,n_trip,n_cancel,time_period,weekend,wait_time,travel_time
3673406,RB-3043132195,2019-11-23 20:52:28,NaN,2019-11-23 20:54:30,700659557.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
3673643,RB-3043138556,2019-11-23 20:54:38,NaN,2019-11-23 20:54:49,700599009.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
3673764,RB-3043141638,2019-11-23 20:55:42,NaN,2019-11-23 20:56:50,700671081.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
1527472,RB-2989771706,2019-11-10 03:19:04,2019-11-10 03:31:42,2019-11-10 03:50:36,700715195.0,1.283815,103.844917,1.355648,103.987215,1,...,3592211192111693824,3592250224774479872,2,1,1,0,midnight,1,0 days 00:12:38,0 days 00:18:54
3936823,RB-3049168658,2019-11-25 18:01:26,2019-11-25 18:07:08,2019-11-25 18:24:12,700265748.0,1.290407,103.834763,1.319434,103.817968,1,...,3592211810586984448,3592212257263583232,3,1,1,0,pm_peak,0,0 days 00:05:42,0 days 00:17:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4833389,RB-3070485363,2019-11-30 23:59:28,NaN,2019-11-30 23:59:36,700641990.0,1.400251,103.748051,1.403678,103.750552,3,...,3592203392451084288,3592203564249776128,4000534,2,0,2,pm_peak,1,NaN,NaN
4832432,RB-3070475712,2019-11-30 23:53:53,NaN,2019-11-30 23:54:56,700207389.0,1.293596,103.859066,1.338498,103.703901,3,...,3592211879306461184,3592200781110968320,4000535,1,0,1,pm_peak,1,NaN,NaN
4832739,RB-3070478846,2019-11-30 23:55:41,NaN,2019-11-30 23:59:14,NaN,1.301892,103.876637,1.301835,103.839083,4,...,3592210367477972992,3592211776227246080,4000536,2,1,1,pm_peak,1,0 days 00:15:05,0 days 00:12:56
4833373,RB-3070485293,2019-11-30 23:59:25,2019-12-01 00:10:46,2019-12-01 00:23:42,700316424.0,1.301892,103.876637,1.301835,103.839083,1,...,3592210367477972992,3592211776227246080,4000536,2,1,1,pm_peak,1,0 days 00:15:05,0 days 00:12:56
4832888,RB-3070480476,2019-11-30 23:56:39,NaN,2019-11-30 23:56:54,NaN,1.245680,103.840239,1.379861,103.942717,2,...,3592217411224338432,3592251530444537856,4000537,1,0,1,pm_peak,1,NaN,NaN

# Check aggregation results

In [50]:
# check data type
df_trip_status.dtypes

order_no                          object
booking_time                      object
pickup_time                       object
drop_off_time                     object
driver_id                        float64
booking_pickup_latitude          float64
booking_pickup_longitude         float64
booking_destination_latitude     float64
booking_destination_longitude    float64
status                             int64
fare                               int64
surge_multiplier                 float64
customer_id                        int64
discount_amt                     float64
pickup_s2id_15                     int64
dropoff_s2id_15                    int64
pickup_s2id_14                     int64
dropoff_s2id_14                    int64
pickup_s2id_13                     int64
dropoff_s2id_13                    int64
trip_id                            int64
dtype: object

In [8]:
# convert time columns to datetime data type
df_trip_status['booking_time'] = pd.to_datetime(df_trip_status['booking_time'])
df_trip_status['pickup_time'] = pd.to_datetime(df_trip_status['pickup_time'])
df_trip_status['drop_off_time'] = pd.to_datetime(df_trip_status['drop_off_time'])
# df_trip_status.dtypes
df_trip_status.head(3)

,order_no,booking_time,pickup_time,drop_off_time,driver_id,booking_pickup_latitude,booking_pickup_longitude,booking_destination_latitude,booking_destination_longitude,status,...,pickup_s2id_13,dropoff_s2id_13,trip_id,n_order,n_trip,n_cancel,time_period,weekend,wait_time,travel_time
3673406,RB-3043132195,2019-11-23 20:52:28,NaT,2019-11-23 20:54:30,700659557.0,1.2513,103.81782,1.331852,103.94635,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
3673643,RB-3043138556,2019-11-23 20:54:38,NaT,2019-11-23 20:54:49,700599009.0,1.2513,103.81782,1.331852,103.94635,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
3673764,RB-3043141638,2019-11-23 20:55:42,NaT,2019-11-23 20:56:50,700671081.0,1.2513,103.81782,1.331852,103.94635,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN

## Overlap check
Overlap: for a certain customer, there is another booking time in between the pickup and dropoff time period of the previous orders

In [52]:
from tqdm import tqdm
import pandas as pd

# Sort the original DataFrame by 'booking_time'
df_trip_status = df_trip_status.sort_values(by='booking_time')

# Group by 'trip_id' without creating a separate 'grouped' object
grouped = df_trip_status.groupby('trip_id')

# Get the number of unique groups
num_groups = len(grouped.groups)

with tqdm(total=num_groups, desc="Groupby & Apply Progress") as pbar:
    def overlap(df):
        n_overlap = 0
        prev_pu = None
        prev_do = None

        for index, row in df.iterrows():
            if prev_pu is not None and prev_do is not None:
                # Check if there's an overlap between 'booking_time' and the previous time interval
                if not pd.isna(row['pickup_time']) and not pd.isna(row['drop_off_time']):
                    if (row['booking_time'] >= prev_pu) and (row['booking_time'] <= prev_do):
                        n_overlap += 1

            prev_pu = row['pickup_time']
            prev_do = row['drop_off_time']
        
        pbar.update(1)
        return n_overlap

    results = grouped.apply(overlap)

Groupby & Apply Progress: 100%|██████████| 4000537/4000537 [18:22<00:00, 3630.25it/s]

In [53]:
results.sum()

0

Summary:  

There is not any overlap (booking_time within the time period of previous pickups to dropoffs) in the aggregated trip data using the method aboved.

However, if the condition of 'no more than one "completed" status' is not used in trip aggregation, would there be any overlap?   
--- No. (The following codes show the validation.)

In [54]:
# Aggregate into trips not using the condition of 'no more than one "completed status"'

import pandas as pd

# Load the original dataset into a pandas DataFrame
# Replace 'original_data.csv' with the path to your dataset
df = df_demand

# Sort the DataFrame by 'customer_id' and 'booking_time'
df.sort_values(by=['customer_id', 'booking_time'], inplace=True)

# Initialize trip_id and trip_start_time
trip_id = 1
trip_start_time = None

# Lists to store trip IDs and indices
trip_ids = []
trip_indices = []

# Iterate through the DataFrame to assign trip IDs
for index, row in df.iterrows():
    if trip_start_time is None:
        # First row of a trip
        trip_start_time = row['booking_time']
    elif (
        row['customer_id'] == prev_row['customer_id'] and
        row['pickup_s2id_15'] == prev_row['pickup_s2id_15'] and
        row['dropoff_s2id_15'] == prev_row['dropoff_s2id_15'] and
        (row['booking_time'] - trip_start_time) <= pd.Timedelta(minutes=10)
    ):
        # Continue the trip
        pass
    else:
        # Start a new trip
        trip_id += 1
        trip_start_time = row['booking_time']
    
    trip_ids.append(trip_id)
    trip_indices.append(index)
    prev_row = row

# Assign the 'trip_id' values to the DataFrame
df['trip_id'] = trip_ids

# Save the trip-level dataset to a new CSV file
# Replace 'trip_data.csv' with the desired file path
df.sort_values(by='trip_id', inplace=True)
df.to_csv('/home/xychen/gojeck_data_proc/results/trip_data.csv', index=False)

In [55]:
from tqdm import tqdm
import pandas as pd

df_trip = pd.read_csv(r'/home/xychen/gojeck_data_proc/results/trip_data.csv')

df_trip['booking_time'] = pd.to_datetime(df_trip['booking_time'])
df_trip['pickup_time'] = pd.to_datetime(df_trip['pickup_time'])
df_trip['drop_off_time'] = pd.to_datetime(df_trip['drop_off_time'])

# Sort the original DataFrame by 'booking_time'
df_trip = df_trip.sort_values(by='booking_time')

# Group by 'trip_id' without creating a separate 'grouped' object
grouped = df_trip.groupby('trip_id')

# Get the number of unique groups
num_groups = len(grouped.groups)

with tqdm(total=num_groups, desc="Groupby & Apply Progress") as pbar:
    def overlap(df):
        n_overlap = 0
        prev_pu = None
        prev_do = None

        for index, row in df.iterrows():
            if prev_pu is not None and prev_do is not None:
                # Check if there's an overlap between 'booking_time' and the previous time interval
                if not pd.isna(row['pickup_time']) and not pd.isna(row['drop_off_time']):
                    if (row['booking_time'] >= prev_pu) and (row['booking_time'] <= prev_do):
                        n_overlap += 1

            prev_pu = row['pickup_time']
            prev_do = row['drop_off_time']
        
        pbar.update(1)
        return n_overlap

    results = grouped.apply(overlap)

Groupby & Apply Progress: 100%|██████████| 3925565/3925565 [18:08<00:00, 3607.47it/s]

In [56]:
results.sum()

0

# Variables generation

## Number of orders

In [9]:
# Group by 'Category' and calculate the mean of 'Value' for each group
grouped = df_trip_status.groupby('trip_id')['order_no'].transform('count')

# Add the result as a new column 'Mean_Value' in the original DataFrame
df_trip_status['n_order'] = grouped

df_trip_status.head(10)

,order_no,booking_time,pickup_time,drop_off_time,driver_id,booking_pickup_latitude,booking_pickup_longitude,booking_destination_latitude,booking_destination_longitude,status,...,pickup_s2id_13,dropoff_s2id_13,trip_id,n_order,n_trip,n_cancel,time_period,weekend,wait_time,travel_time
3673406,RB-3043132195,2019-11-23 20:52:28,NaT,2019-11-23 20:54:30,700659557.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
3673643,RB-3043138556,2019-11-23 20:54:38,NaT,2019-11-23 20:54:49,700599009.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
3673764,RB-3043141638,2019-11-23 20:55:42,NaT,2019-11-23 20:56:50,700671081.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
1527472,RB-2989771706,2019-11-10 03:19:04,2019-11-10 03:31:42,2019-11-10 03:50:36,700715195.0,1.283815,103.844917,1.355648,103.987215,1,...,3592211192111693824,3592250224774479872,2,1,1,0,midnight,1,0 days 00:12:38,0 days 00:18:54
3936823,RB-3049168658,2019-11-25 18:01:26,2019-11-25 18:07:08,2019-11-25 18:24:12,700265748.0,1.290407,103.834763,1.319434,103.817968,1,...,3592211810586984448,3592212257263583232,3,1,1,0,pm_peak,0,0 days 00:05:42,0 days 00:17:04
3940487,RB-3049293266,2019-11-25 18:24:46,NaT,2019-11-25 18:29:06,700402631.0,1.319434,103.817968,1.374059,103.766313,3,...,3592212257263583232,3592203048853700608,4,4,1,3,pm_peak,0,0 days 00:14:30,0 days 00:23:20
3941037,RB-3049314149,2019-11-25 18:29:09,NaT,2019-11-25 18:31:29,700402631.0,1.319434,103.817968,1.374059,103.766313,3,...,3592212257263583232,3592203048853700608,4,4,1,3,pm_peak,0,0 days 00:14:30,0 days 00:23:20
3941328,RB-3049325933,2019-11-25 18:31:34,NaT,2019-11-25 18:31:47,700403276.0,1.319434,103.817968,1.374059,103.766313,3,...,3592212257263583232,3592203048853700608,4,4,1,3,pm_peak,0,0 days 00:14:30,0 days 00:23:20
3941368,RB-3049327725,2019-11-25 18:31:57,2019-11-25 18:39:16,2019-11-25 19:02:36,700624515.0,1.319434,103.817968,1.374059,103.766313,1,...,3592212257263583232,3592203048853700608,4,4,1,3,pm_peak,0,0 days 00:14:30,0 days 00:23:20
4230902,RB-3057817272,2019-11-27 21:28:14,NaT,2019-11-27 21:29:49,NaN,1.275835,103.844282,1.290407,103.834763,2,...,3592211604428554240,3592211810586984448,5,2,1,1,pm_peak,0,0 days 00:09:38,0 days 00:10:40

## Number of trips
-- if the trip is finally made

In [10]:


grouped = df_trip_status.groupby('trip_id')['status']

def trip_final_made(group):
    if (group == 1).any():
        return 1
    else:
        return 0

# Step 2: Apply the custom function and use transform to broadcast the results
df_trip_status['n_trip'] = grouped.transform(trip_final_made)

df_trip_status

,order_no,booking_time,pickup_time,drop_off_time,driver_id,booking_pickup_latitude,booking_pickup_longitude,booking_destination_latitude,booking_destination_longitude,status,...,pickup_s2id_13,dropoff_s2id_13,trip_id,n_order,n_trip,n_cancel,time_period,weekend,wait_time,travel_time
3673406,RB-3043132195,2019-11-23 20:52:28,NaT,2019-11-23 20:54:30,700659557.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
3673643,RB-3043138556,2019-11-23 20:54:38,NaT,2019-11-23 20:54:49,700599009.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
3673764,RB-3043141638,2019-11-23 20:55:42,NaT,2019-11-23 20:56:50,700671081.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
1527472,RB-2989771706,2019-11-10 03:19:04,2019-11-10 03:31:42,2019-11-10 03:50:36,700715195.0,1.283815,103.844917,1.355648,103.987215,1,...,3592211192111693824,3592250224774479872,2,1,1,0,midnight,1,0 days 00:12:38,0 days 00:18:54
3936823,RB-3049168658,2019-11-25 18:01:26,2019-11-25 18:07:08,2019-11-25 18:24:12,700265748.0,1.290407,103.834763,1.319434,103.817968,1,...,3592211810586984448,3592212257263583232,3,1,1,0,pm_peak,0,0 days 00:05:42,0 days 00:17:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4833389,RB-3070485363,2019-11-30 23:59:28,NaT,2019-11-30 23:59:36,700641990.0,1.400251,103.748051,1.403678,103.750552,3,...,3592203392451084288,3592203564249776128,4000534,2,0,2,pm_peak,1,NaN,NaN
4832432,RB-3070475712,2019-11-30 23:53:53,NaT,2019-11-30 23:54:56,700207389.0,1.293596,103.859066,1.338498,103.703901,3,...,3592211879306461184,3592200781110968320,4000535,1,0,1,pm_peak,1,NaN,NaN
4832739,RB-3070478846,2019-11-30 23:55:41,NaT,2019-11-30 23:59:14,NaN,1.301892,103.876637,1.301835,103.839083,4,...,3592210367477972992,3592211776227246080,4000536,2,1,1,pm_peak,1,0 days 00:15:05,0 days 00:12:56
4833373,RB-3070485293,2019-11-30 23:59:25,2019-12-01 00:10:46,2019-12-01 00:23:42,700316424.0,1.301892,103.876637,1.301835,103.839083,1,...,3592210367477972992,3592211776227246080,4000536,2,1,1,pm_peak,1,0 days 00:15:05,0 days 00:12:56
4832888,RB-3070480476,2019-11-30 23:56:39,NaT,2019-11-30 23:56:54,NaN,1.245680,103.840239,1.379861,103.942717,2,...,3592217411224338432,3592251530444537856,4000537,1,0,1,pm_peak,1,NaN,NaN

In [11]:
df_trip_status.to_csv(r'/home/xychen/gojeck_data_proc/results/trip_data_status.csv',index=False)

In [12]:
df_trip_status.head(500).to_csv(r'/home/xychen/gojeck_data_proc/results/trip_data_sample.csv',index=False)

## Number of cancellations

Cancellations here indicates the status of the trip is 2,3,4,5,6.

In [13]:
# Step 1: Define a custom function to calculate the sum for each group using apply
def n_cancel(group):
    return sum(group != 1)

# Step 2: Apply the custom function and use transform to broadcast the results
df_trip_status['n_cancel'] = df_trip_status.groupby('trip_id')['status'].transform(n_cancel)

df_trip_status.head(10)

,order_no,booking_time,pickup_time,drop_off_time,driver_id,booking_pickup_latitude,booking_pickup_longitude,booking_destination_latitude,booking_destination_longitude,status,...,pickup_s2id_13,dropoff_s2id_13,trip_id,n_order,n_trip,n_cancel,time_period,weekend,wait_time,travel_time
3673406,RB-3043132195,2019-11-23 20:52:28,NaT,2019-11-23 20:54:30,700659557.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
3673643,RB-3043138556,2019-11-23 20:54:38,NaT,2019-11-23 20:54:49,700599009.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
3673764,RB-3043141638,2019-11-23 20:55:42,NaT,2019-11-23 20:56:50,700671081.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
1527472,RB-2989771706,2019-11-10 03:19:04,2019-11-10 03:31:42,2019-11-10 03:50:36,700715195.0,1.283815,103.844917,1.355648,103.987215,1,...,3592211192111693824,3592250224774479872,2,1,1,0,midnight,1,0 days 00:12:38,0 days 00:18:54
3936823,RB-3049168658,2019-11-25 18:01:26,2019-11-25 18:07:08,2019-11-25 18:24:12,700265748.0,1.290407,103.834763,1.319434,103.817968,1,...,3592211810586984448,3592212257263583232,3,1,1,0,pm_peak,0,0 days 00:05:42,0 days 00:17:04
3940487,RB-3049293266,2019-11-25 18:24:46,NaT,2019-11-25 18:29:06,700402631.0,1.319434,103.817968,1.374059,103.766313,3,...,3592212257263583232,3592203048853700608,4,4,1,3,pm_peak,0,0 days 00:14:30,0 days 00:23:20
3941037,RB-3049314149,2019-11-25 18:29:09,NaT,2019-11-25 18:31:29,700402631.0,1.319434,103.817968,1.374059,103.766313,3,...,3592212257263583232,3592203048853700608,4,4,1,3,pm_peak,0,0 days 00:14:30,0 days 00:23:20
3941328,RB-3049325933,2019-11-25 18:31:34,NaT,2019-11-25 18:31:47,700403276.0,1.319434,103.817968,1.374059,103.766313,3,...,3592212257263583232,3592203048853700608,4,4,1,3,pm_peak,0,0 days 00:14:30,0 days 00:23:20
3941368,RB-3049327725,2019-11-25 18:31:57,2019-11-25 18:39:16,2019-11-25 19:02:36,700624515.0,1.319434,103.817968,1.374059,103.766313,1,...,3592212257263583232,3592203048853700608,4,4,1,3,pm_peak,0,0 days 00:14:30,0 days 00:23:20
4230902,RB-3057817272,2019-11-27 21:28:14,NaT,2019-11-27 21:29:49,NaN,1.275835,103.844282,1.290407,103.834763,2,...,3592211604428554240,3592211810586984448,5,2,1,1,pm_peak,0,0 days 00:09:38,0 days 00:10:40

## Time period

In [14]:
from datetime import time
from tqdm import tqdm

# Define the start and end times for time periods outside the function
midnight_start = time(0, 0)
midnight_end = time(6, 0)
am_peak_start = time(6, 0)
am_peak_end = time(10, 0)
day_nonpeak_start = time(10, 0)
day_nonpeak_end = time(17, 0)
# pm_peak_start = time(17, 0)
# pm_peak_end = time(23, 59)

# Define the custom function for time period categorization
def time_period_define(group):
    booking_time = group['booking_time'].time()
    
    if midnight_start <= booking_time < midnight_end:
        return 'midnight'
    elif am_peak_start <= booking_time < am_peak_end:
        return 'am_peak'
    elif day_nonpeak_start <= booking_time < day_nonpeak_end:
        return 'day_nonpeak'
    else:
        return 'pm_peak'

with tqdm(total=len(df_trip_status), desc="Iterating through rows") as pbar:
    df_trip_status['time_period'] = df_trip_status.apply(time_period_define, axis=1)
    pbar.update(len(df_trip_status))

Iterating through rows: 100%|██████████| 4833477/4833477 [00:38<00:00, 126501.98it/s]

In [15]:
df_trip_status

,order_no,booking_time,pickup_time,drop_off_time,driver_id,booking_pickup_latitude,booking_pickup_longitude,booking_destination_latitude,booking_destination_longitude,status,...,pickup_s2id_13,dropoff_s2id_13,trip_id,n_order,n_trip,n_cancel,time_period,weekend,wait_time,travel_time
3673406,RB-3043132195,2019-11-23 20:52:28,NaT,2019-11-23 20:54:30,700659557.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
3673643,RB-3043138556,2019-11-23 20:54:38,NaT,2019-11-23 20:54:49,700599009.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
3673764,RB-3043141638,2019-11-23 20:55:42,NaT,2019-11-23 20:56:50,700671081.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
1527472,RB-2989771706,2019-11-10 03:19:04,2019-11-10 03:31:42,2019-11-10 03:50:36,700715195.0,1.283815,103.844917,1.355648,103.987215,1,...,3592211192111693824,3592250224774479872,2,1,1,0,midnight,1,0 days 00:12:38,0 days 00:18:54
3936823,RB-3049168658,2019-11-25 18:01:26,2019-11-25 18:07:08,2019-11-25 18:24:12,700265748.0,1.290407,103.834763,1.319434,103.817968,1,...,3592211810586984448,3592212257263583232,3,1,1,0,pm_peak,0,0 days 00:05:42,0 days 00:17:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4833389,RB-3070485363,2019-11-30 23:59:28,NaT,2019-11-30 23:59:36,700641990.0,1.400251,103.748051,1.403678,103.750552,3,...,3592203392451084288,3592203564249776128,4000534,2,0,2,pm_peak,1,NaN,NaN
4832432,RB-3070475712,2019-11-30 23:53:53,NaT,2019-11-30 23:54:56,700207389.0,1.293596,103.859066,1.338498,103.703901,3,...,3592211879306461184,3592200781110968320,4000535,1,0,1,pm_peak,1,NaN,NaN
4832739,RB-3070478846,2019-11-30 23:55:41,NaT,2019-11-30 23:59:14,NaN,1.301892,103.876637,1.301835,103.839083,4,...,3592210367477972992,3592211776227246080,4000536,2,1,1,pm_peak,1,0 days 00:15:05,0 days 00:12:56
4833373,RB-3070485293,2019-11-30 23:59:25,2019-12-01 00:10:46,2019-12-01 00:23:42,700316424.0,1.301892,103.876637,1.301835,103.839083,1,...,3592210367477972992,3592211776227246080,4000536,2,1,1,pm_peak,1,0 days 00:15:05,0 days 00:12:56
4832888,RB-3070480476,2019-11-30 23:56:39,NaT,2019-11-30 23:56:54,NaN,1.245680,103.840239,1.379861,103.942717,2,...,3592217411224338432,3592251530444537856,4000537,1,0,1,pm_peak,1,NaN,NaN

In [16]:
df_trip_status.to_csv(r'/home/xychen/gojeck_data_proc/results/trip_data_status.csv',index=False)

In [17]:
df_trip_status.head(500).to_csv(r'/home/xychen/gojeck_data_proc/results/trip_data_sample.csv',index=False)

## Weekend

In [18]:
def weekend_check(group):
    booking_time = group['booking_time']
    # Use the weekday() method to get the day of the week (0 = Monday, 6 = Sunday)
    day_of_week = booking_time.weekday()
    # Check if the day of the week is either Saturday (5) or Sunday (6)
    if day_of_week == 5 or day_of_week == 6:
        return 1
    else:
        return 0
    
with tqdm(total=len(df_trip_status), desc="Iterating through rows") as pbar:
    df_trip_status['weekend'] = df_trip_status.apply(weekend_check, axis=1)
    pbar.update(len(df_trip_status))

Iterating through rows: 100%|██████████| 4833477/4833477 [00:39<00:00, 121674.10it/s]

In [19]:
df_trip_status

,order_no,booking_time,pickup_time,drop_off_time,driver_id,booking_pickup_latitude,booking_pickup_longitude,booking_destination_latitude,booking_destination_longitude,status,...,pickup_s2id_13,dropoff_s2id_13,trip_id,n_order,n_trip,n_cancel,time_period,weekend,wait_time,travel_time
3673406,RB-3043132195,2019-11-23 20:52:28,NaT,2019-11-23 20:54:30,700659557.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
3673643,RB-3043138556,2019-11-23 20:54:38,NaT,2019-11-23 20:54:49,700599009.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
3673764,RB-3043141638,2019-11-23 20:55:42,NaT,2019-11-23 20:56:50,700671081.0,1.251300,103.817820,1.331852,103.946350,3,...,3592214456286838784,3592250946328985600,1,3,0,3,pm_peak,1,NaN,NaN
1527472,RB-2989771706,2019-11-10 03:19:04,2019-11-10 03:31:42,2019-11-10 03:50:36,700715195.0,1.283815,103.844917,1.355648,103.987215,1,...,3592211192111693824,3592250224774479872,2,1,1,0,midnight,1,0 days 00:12:38,0 days 00:18:54
3936823,RB-3049168658,2019-11-25 18:01:26,2019-11-25 18:07:08,2019-11-25 18:24:12,700265748.0,1.290407,103.834763,1.319434,103.817968,1,...,3592211810586984448,3592212257263583232,3,1,1,0,pm_peak,0,0 days 00:05:42,0 days 00:17:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4833389,RB-3070485363,2019-11-30 23:59:28,NaT,2019-11-30 23:59:36,700641990.0,1.400251,103.748051,1.403678,103.750552,3,...,3592203392451084288,3592203564249776128,4000534,2,0,2,pm_peak,1,NaN,NaN
4832432,RB-3070475712,2019-11-30 23:53:53,NaT,2019-11-30 23:54:56,700207389.0,1.293596,103.859066,1.338498,103.703901,3,...,3592211879306461184,3592200781110968320,4000535,1,0,1,pm_peak,1,NaN,NaN
4832739,RB-3070478846,2019-11-30 23:55:41,NaT,2019-11-30 23:59:14,NaN,1.301892,103.876637,1.301835,103.839083,4,...,3592210367477972992,3592211776227246080,4000536,2,1,1,pm_peak,1,0 days 00:15:05,0 days 00:12:56
4833373,RB-3070485293,2019-11-30 23:59:25,2019-12-01 00:10:46,2019-12-01 00:23:42,700316424.0,1.301892,103.876637,1.301835,103.839083,1,...,3592210367477972992,3592211776227246080,4000536,2,1,1,pm_peak,1,0 days 00:15:05,0 days 00:12:56
4832888,RB-3070480476,2019-11-30 23:56:39,NaT,2019-11-30 23:56:54,NaN,1.245680,103.840239,1.379861,103.942717,2,...,3592217411224338432,3592251530444537856,4000537,1,0,1,pm_peak,1,NaN,NaN

In [20]:
df_trip_status.to_csv(r'/home/xychen/gojeck_data_proc/results/trip_data_status.csv',index=False)

In [ ]:
df_trip_status.head(500).to_csv(r'/home/xychen/gojeck_data_proc/results/trip_data_sample.csv',index=False)

## Waiting time

If the trip is never made, the waiting time is NaN.

In [ ]:
# import tqdm as tqdm

grouped = df_trip_status.groupby('trip_id')
num_groups = len(grouped)

# with tqdm(total=num_groups, desc="Groupby & Apply Progress") as pbar:

    # Define a custom function to calculate the time gap
def calculate_wait_time(group):
    if group['n_trip'].iloc[0] == 1:
        first_booking_time = group['booking_time'].iloc[0]
        last_pickup_time = group['pickup_time'].iloc[-1]
        time_gap = last_pickup_time - first_booking_time
        # pbar.update(1)
        return time_gap
    else:
        # pbar.update(1)
        return pd.NaT  # Return NaN if n_trip is not 1

# Group by 'trip_id' and apply the custom function
result = grouped.apply(calculate_wait_time)

# Reset the index to obtain a Series
result = result.reset_index(level=0, drop=True)

In [ ]:
# append to the original data frame
df_waittime = result.reset_index()
df_waittime['trip_id'] = df_waittime['index'] + 1
df_waittime = df_waittime.drop('index',axis=1)
df_waittime.columns = ['wait_time','trip_id']
df_trip_status = df_trip_status.merge(df_waittime, on='trip_id', how='left')
# df_trip_status.to_csv(r'/home/xychen/gojeck_data_proc/results/trip_data_status.csv',index=False)

In [ ]:
df_trip_status.to_csv(r'/home/xychen/gojeck_data_proc/results/trip_data_status.csv',index=False)

In [ ]:
df_trip_status.head(500).to_csv(r'/home/xychen/gojeck_data_proc/results/trip_data_sample.csv',index=False)

## Travel time
-  '`dropoff time - pickup time`' for the completed order.
- If the trip is never made, the travel time is NaN.

In [ ]:
grouped = df_trip_status.groupby('trip_id')
num_groups = len(grouped)

# with tqdm(total=num_groups, desc="Groupby & Apply Progress") as pbar:


def calculate_travel_time(group):
    if group['n_trip'].iloc[0] == 1:
        last_pickup_time = group['pickup_time'].iloc[-1]
        last_dropoff_time = group['drop_off_time'].iloc[-1]
        time_gap =  last_dropoff_time - last_pickup_time# the last order is the completed order if the trip is made successfully
        # pbar.update(1)
        return time_gap
    else:
        # pbar.update(1)
        return pd.NaT  # Return NaN if n_trip is not 1

# Group by 'trip_id' and apply the custom function
result = grouped.apply(calculate_travel_time)

# Reset the index to obtain a Series
result = result.reset_index(level=0, drop=True)

In [ ]:
# append to the original data frame
df_travel_time = result.reset_index()
df_travel_time['trip_id'] = df_travel_time['index'] + 1
df_travel_time = df_travel_time.drop('index',axis=1)
df_travel_time.columns = ['travel_time','trip_id']
df_trip_status = df_trip_status.merge(df_travel_time, on='trip_id', how='left')
# df_trip_status.to_csv(r'/home/xychen/gojeck_data_proc/results/trip_data_status.csv',index=False)

In [ ]:
df_trip_status.to_csv(r'/home/xychen/gojeck_data_proc/results/trip_data_status.csv',index=False)

In [ ]:
df_trip_status.head(500).to_csv(r'/home/xychen/gojeck_data_proc/results/trip_data_sample.csv',index=False)

## Travel speed

In [ ]:
# how to define travel distance? Euclidean distance?

## Origin subzone and destination subzone

In [4]:
import geopandas as gpd
from shapely.geometry import Point

# Load administrative boundary data from a shapefile or other data source
gdf_subzone = gpd.read_file('/home/xychen/gojeck_data_proc/data/master-plan-2014-subzone-boundary-web-shp/MP14_SUBZONE_WEB_PL.shp')


# Create a GeoDataFrame from DataFrame coordinates
geometry_pickup = [Point(xy) for xy in zip(df_trip_status['booking_pickup_longitude'], df_trip_status['booking_pickup_latitude'])]
gdf_coords_pickup = gpd.GeoDataFrame(geometry_pickup, columns=['geometry'], crs='EPSG:4326')

geometry_destination = [Point(xy) for xy in zip(df_trip_status['booking_destination_longitude'], df_trip_status['booking_destination_latitude'])]
gdf_coords_destination = gpd.GeoDataFrame(geometry_destination, columns=['geometry'], crs='EPSG:4326')

# Align the crs
gdf_coords_pickup = gdf_coords_pickup.to_crs(gdf_subzone.crs)
gdf_coords_destination = gdf_coords_destination.to_crs(gdf_subzone.crs)

# Perform a spatial join
result_pickup = gpd.sjoin(gdf_coords_pickup, gdf_subzone, op='within')
result_destination = gpd.sjoin(gdf_coords_destination, gdf_subzone, op='within')

# Extract information from the result
subzone_pickup = result_pickup['SUBZONE_N']
subzone_destination = result_destination['SUBZONE_N']

/home/xychen/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3466: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/home/xychen/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3466: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [5]:
# append the result to trip-level dataframe
df_trip_status['origin_subzone'] = subzone_pickup
df_trip_status['dest_subzone'] = subzone_destination

In [6]:
df_trip_status

,order_no,booking_time,pickup_time,drop_off_time,driver_id,booking_pickup_latitude,booking_pickup_longitude,booking_destination_latitude,booking_destination_longitude,status,...,n_trip,n_cancel,time_period,weekend,wait_time_x,travel_time_x,wait_time_y,travel_time_y,origin_subzone,dest_subzone
0,RB-3043132195,2019-11-23 20:52:28,NaT,2019-11-23 20:54:30,700659557.0,1.251300,103.817820,1.331852,103.946350,3,...,0,3,pm_peak,1,NaN,NaN,NaN,NaN,SENTOSA,BEDOK NORTH
1,RB-3043138556,2019-11-23 20:54:38,NaT,2019-11-23 20:54:49,700599009.0,1.251300,103.817820,1.331852,103.946350,3,...,0,3,pm_peak,1,NaN,NaN,NaN,NaN,SENTOSA,BEDOK NORTH
2,RB-3043141638,2019-11-23 20:55:42,NaT,2019-11-23 20:56:50,700671081.0,1.251300,103.817820,1.331852,103.946350,3,...,0,3,pm_peak,1,NaN,NaN,NaN,NaN,SENTOSA,BEDOK NORTH
3,RB-2989771706,2019-11-10 03:19:04,2019-11-10 03:31:42,2019-11-10 03:50:36,700715195.0,1.283815,103.844917,1.355648,103.987215,1,...,1,0,midnight,1,0 days 00:12:38,0 days 00:18:54,0 days 00:12:38,0 days 00:18:54,CHINATOWN,CHANGI AIRPORT
4,RB-3049168658,2019-11-25 18:01:26,2019-11-25 18:07:08,2019-11-25 18:24:12,700265748.0,1.290407,103.834763,1.319434,103.817968,1,...,1,0,pm_peak,0,0 days 00:05:42,0 days 00:17:04,0 days 00:05:42,0 days 00:17:04,ROBERTSON QUAY,TYERSALL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,RB-2998088427,2019-11-12 12:31:16,2019-11-12 12:38:31,2019-11-12 12:51:37,700463016.0,1.328350,103.870009,1.293260,103.783730,1,...,1,0,day_nonpeak,0,0 days 00:07:15,0 days 00:13:06,0 days 00:07:15,0 days 00:13:06,SENNETT,NATIONAL UNIVERSITY OF S'PORE
496,RB-2998915987,2019-11-12 16:22:00,2019-11-12 16:29:50,2019-11-12 16:45:13,700733657.0,1.293260,103.783730,1.289114,103.845944,1,...,1,0,day_nonpeak,0,0 days 00:07:50,0 days 00:15:23,0 days 00:07:50,0 days 00:15:23,NATIONAL UNIVERSITY OF S'PORE,CLARKE QUAY
497,RB-2999090742,2019-11-12 16:59:41,2019-11-12 17:15:29,2019-11-12 17:26:15,700629454.0,1.289114,103.845944,1.277738,103.844417,1,...,1,0,day_nonpeak,0,0 days 00:15:48,0 days 00:10:46,0 days 00:15:48,0 days 00:10:46,CLARKE QUAY,CHINATOWN
498,RB-2999233036,2019-11-12 17:29:33,2019-11-12 17:34:36,2019-11-12 17:51:02,700231788.0,1.277738,103.844417,1.293260,103.783730,1,...,1,0,pm_peak,0,0 days 00:05:03,0 days 00:16:26,0 days 00:05:03,0 days 00:16:26,CHINATOWN,NATIONAL UNIVERSITY OF S'PORE
499,RB-3000345700,2019-11-12 21:58:56,NaT,2019-11-12 21:59:54,700204212.0,1.293260,103.783730,1.308049,103.836293,3,...,1,1,pm_peak,0,0 days 00:10:19,0 days 00:16:05,0 days 00:10:19,0 days 00:16:05,NATIONAL UNIVERSITY OF S'PORE,CAIRNHILL

In [7]:
df_trip_status.to_csv(r'/home/xychen/gojeck_data_proc/results/trip_data_status.csv',index=False)

In [17]:
df_trip_status.to_parquet('/home/xychen/gojeck_data_proc/results/trip_data_status.parquet', compression='snappy')